<template>
    <div>
      <routerLink to=""></routerLink>
    </div>
  </template>
  
  <script lang="ts" setup>
  import { RouterLink } from 'vue-router';
  const data = defineProps
  
  </script>
  